<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		
		<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/homework.css" />
		<script src="../../resources/js/jquery.min.js"></script>
		<script src="../../resources/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		
		<div class="nav">
			<a class="logo" href="#">
				<img src="../../resources/image/nav.png" />
			</a>
			
			<span>2019-06-17 星期一 15:02</span>
		</div>
		
		<div class="outer">
			&nbsp;
			<div class="inner">
				<div class="left">
					
					<div class="user">
						<div class="mid-part">
							<img src="../../resources/image/init.jpg" />
							<div class="character">
								<span>张玮伽</span>
								<br />
								
								<a><i class="icon-asterisk"></i></a> &nbsp;
								<a><i class="icon-signout"></i></a>
							</div>
							
							
						</div>
					</div>
					
					<div class="list">
						<ul>
							<li>
								<a>
									<i class="icon-file"></i>&nbsp;我的待办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-file-alt"></i>&nbsp;我的已办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bell-alt"></i>&nbsp;提醒消息
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bar-chart"></i>&nbsp;我的周报
								</a>
							</li>
							<li>
								<a>
									<i class="icon-calendar"></i>&nbsp;我的日志
								</a>
							</li>
							<li>
								<a>
									<i class="icon-qrcode"></i>&nbsp;我的项目
								</a>
							</li>
							<li>
								<a>
									<i class="icon-legal"></i>&nbsp;我的查封项目资产
								</a>
							</li>
			

						</ul>
					</div>
				</div>
				
				<div class="middle">
					<div class="search-part">
						<div class="left">
							<span><i class="icon-sitemap"></i> &nbsp;客户管理</span>
						</div>
						
						<div class="client-right">
							<input type="text" name="search" placeholder="请输入项目名称"/>
							<a><i class="icon-search"></i></a>
							<button class="btn btn-primary">新增客户</button>
						</div>
					</div>
					
				
					
					<table style="margin-top: 30px;">
						<thead>
							<tr>
								<th>客户号</th>
								<th>客户简称</th>
								<th>客户全称</th>
								<th>操作</th>
							</tr>
							
							<tr>
								<td>1001</td>
								<td>zhangwj</td>
								<td>张玮伽</td>
								<td>
									<a>
										<i class="icon-pencil"></i>
									</a>
								</td>
							</tr>
							
							<tr>
								<td>1002</td>
								<td>songqing</td>
								<td>松青</td>
								<td>
									<a>
										<i class="icon-pencil"></i>
									</a>
								</td>
							</tr>
						</thead>
					</table>
					
				</div>
				
				<div class="right">
					<div class="application">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-home"></i> &nbsp;我的应用</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-plus"></i></a>
							</div>
						</div>
						
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-adjust"></i>
									</div>
									<div>
										<span>客户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-ban-circle"></i>
									</div>
									<div>
										<span>项目管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-bar-chart"></i>
									</div>
									<div>
										<span>用户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beaker"></i>
									</div>
									<div>
										<span>团队管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beer"></i>
									</div>
									<div>
										<span>公司周报</span>
									</div>
								</a>
							</div>
						</div>
						
					</div>
					<div class="notice">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-bell-alt"></i> &nbsp;我的公告</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-arrow-right"></i></a>
							</div>
						</div>
						
						<ul>
							<li>
								<a>
									针对办公规范公告...
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
						</ul>
						
						
					</div>
				</div>
				
			</div>
			
			
		</div>
		
	</body>
</html>
