<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		
		<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/homework.css" />
		<script src="../../resources/js/jquery.min.js"></script>
		<script src="../../resources/js/bootstrap.min.js"></script>
		
	</head>

	<script type="text/javascript">
        var login = false;
        var name;
        var url;

        function getSession() {

            $.ajax({
                url : "/getSession.do",
                type : "get",
                dataType : "json",
                async : true,
                success : function (data) {
                    if (data != null) {

                        login = true;

//                      设置用户用户的url !!!
                        $("#img").attr('src',url);
                        $("div.character").find("span").text(name);

                        console.log(data);
                    } else {
                        login = false;
                    }

                    if (login == false) {
                        alert("请登录");
                        location.href = "/toLogin.do";
                    }

                },
                error : function (data) {
                    location.href = "/toLogin.do";
                }
            });

        }

//        JsonFormat不生效  在前端强制将Long转为Date类型可以显示的数据
        function dateTransform(time) {
            var date = new Date(time);
            var transDate = date.toLocaleString();
            return transDate.substring(0 , transDate.indexOf(" "));
        }

        function getTaskList() {
            $.ajax({
                url : "/task/getTaskList.do",
                type : "get",
                dataType : "json",
                success : function (data) {
                    console.log(data);

                    $("div.task").remove();

                    for (var i in data) {

//                        强制刷新date类型的数据
                        data[i].begin = dateTransform(data[i].begin);
                        data[i].finish = dateTransform(data[i].finish);

                        $("div.middle").append($('<div class="task">\n' +
                            '\t\t\t\t\t\t<div class="task-header">\n' +
                            '\t\t\t\t\t\t\t<i class="icon-flag"></i>\n' +
                            '\t\t\t\t\t\t\t' + data[i].type + '\n' +
                            '\t\t\t\t\t\t\t<img src="../../resources/image/new.png" />\n' +
                            '\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t<div class="task-body">\n' +
                            '\t\t\t\t\t\t\t<img src="../../resources/image/init.jpg" />\n' +
                            '\t\t\t\t\t\t\t<div style="margin-left: 5px; width : 250px;">\n' +
                            '\t\t\t\t\t\t\t\t' + data[i].name + '创建日期' + data[i].begin + ' | 截至日期' + data[i].finish + '\n' +
                            '\t\t\t\t\t\t\t\t<br />\n' +
                            '\t\t\t\t\t\t\t\t所属项目：\n' + data[i].belong +
                            '\t\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t\t<div style="margin-left: 430px; ">\n' +
                            '\t\t\t\t\t\t\t\t<button class="btn btn-default">任务跟踪</button>\n' +
                            '\t\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t</div>'));
                    }
                }

            });
        }


        function getNoticeList() {
            $.ajax({
                url : "/notice/getNoticeList.do",
                type : "get",
                dataType : "json",
                success : function (data) {
                    console.log(data);


                    $(".notice").find("ul li").remove();
                    for (var i in data) {

                        data[i].publish = dateTransform(data[i].publish);

                        $(".notice ul").append($('<li>\n' +
                            '\t\t\t\t\t\t\t\t<a>\n' +
                            '\t\t\t\t\t\t\t\t\t'  + data[i].info.substring(0 , 10) + '...' + '\n' +
                            '\t\t\t\t\t\t\t\t\t<span>' + data[i].publish + '</span>\n' +
                            '\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t</li>'));
                    }
                }
            });
        }


        $(function () {

            getSession();

            getTaskList();

            getNoticeList();

            $("div.character").find("a:eq(0)").click(function () {
                location.href = "/toUserInfo.do";
            });

            $("div.character").find("a:eq(1)").click(function () {
                $.ajax({
                    url : "/logout.do",
                    type : "get",
                    async : false,
                    success : function () {
                        alert("已注销");
                        location.href = "toLogin.do";
                    }
                });

            });
        });
	</script>

	<body>
		
		<div class="nav">
			<a class="logo" href="#">
				<img src="../../resources/image/nav.png" />
			</a>
			
			<span>2019-06-17 星期一 15:02</span>
		</div>
		
		<div class="outer">
			&nbsp;
			<div class="inner">
				<div class="left">
					
					<div class="user">
						<div class="mid-part">
							<img id="img" src="../../resources/image/init.jpg" />
							<div class="character">
								<span>张玮伽</span>
								<br />
								
								<a><i class="icon-asterisk"></i></a> &nbsp;
								<a><i class="icon-signout"></i></a>
							</div>
							
							
						</div>
					</div>
					
					<div class="list">
						<ul>
							<li class="active">
								<a href="/toTask.do">
									<i class="icon-file"></i>&nbsp;我的待办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-file-alt"></i>&nbsp;我的已办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bell-alt"></i>&nbsp;提醒消息
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bar-chart"></i>&nbsp;我的周报
								</a>
							</li>
							<li>
								<a>
									<i class="icon-calendar"></i>&nbsp;我的日志
								</a>
							</li>
							<li>
								<a>
									<i class="icon-qrcode"></i>&nbsp;我的项目
								</a>
							</li>
							<li>
								<a>
									<i class="icon-legal"></i>&nbsp;我的查封项目资产
								</a>
							</li>
			

						</ul>
					</div>
				</div>
				
				<div class="middle">
					<div class="search-part">
						<div class="left">
							<span><i class="icon-bookmark-empty" style="color: red;"></i> &nbsp;我的待办任务</span>
						</div>
						
						<div class="right">
							<input type="text" name="search" placeholder="请输入项目名称"/>
							<a><i class="icon-search"></i></a>
						</div>
					</div>
					
					<ul class="menu">
						<li class="active">
							<a href="">全部任务(21)</a>
						</li>
						
						<li>
							<a href="">今天到期(0)</a>
						</li>
						
						<li>
							<a href="">明天到期(9)</a>
						</li>
						
						<li>
							<a href="">已超期(0)</a>
						</li>
						
						<li>
							<a href="">与项目有关(9)</a>
						</li>
						
						<li>
							<a href="">与项目无关(0)</a>
						</li>
					
					</ul>
					
					
					<div class="task">
						<div class="task-header">
							<i class="icon-flag"></i>
							制度建设
							<img src="../../resources/image/new.png" />
						</div>
						<div class="task-body">
							<img src="../../resources/image/init.jpg" />
							<div style="margin-left: 5px;">
								张伟峰 创建日期2019-06-18 | 截至日期2019-06-25
								<br />
								所属项目：
							</div>
							<div style="margin-left: 430px;">
								<button class="btn btn-default">任务跟踪</button>
							</div>
						</div>
					</div>
					
					<div class="task">
						<div class="task-header">
							<i class="icon-flag"></i>
							制度建设
							<img src="../../resources/image/new.png" />
						</div>
						<div class="task-body">
							<img src="../../resources/image/init.jpg" />
							<div style="margin-left: 5px;">
								张伟峰 创建日期2019-06-18 | 截至日期2019-06-25
								<br />
								所属项目：
							</div>
							<div style="margin-left: 430px;">
								<button class="btn btn-default">任务跟踪</button>
							</div>
						</div>
					</div>
					
					
					<div class="task">
						<div class="task-header">
							<i class="icon-flag"></i>
							制度建设
							<img src="../../resources/image/new.png" />
						</div>
						<div class="task-body">
							<img src="../../resources/image/init.jpg" />
							<div style="margin-left: 5px;">
								张伟峰 创建日期2019-06-18 | 截至日期2019-06-25
								<br />
								所属项目：
							</div>
							<div style="margin-left: 430px;">
								<button class="btn btn-default">任务跟踪</button>
							</div>
						</div>
					</div>
					
					<div class="task">
						<div class="task-header">
							<i class="icon-flag"></i>
							制度建设
							<img src="../../resources/image/new.png" />
						</div>
						<div class="task-body">
							<img src="../../resources/image/init.jpg" />
							<div style="margin-left: 5px;">
								张伟峰 创建日期2019-06-18 | 截至日期2019-06-25
								<br />
								所属项目：
							</div>
							<div style="margin-left: 430px;">
								<button class="btn btn-default">任务跟踪</button>
							</div>
						</div>
					</div>
					
					
				</div>
				
				<div class="right">
					<div class="application">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-home"></i> &nbsp;我的应用</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-plus"></i></a>
							</div>
						</div>
						
						<div class="app-part">
							<div class="block">
								<a href="/toClient.do">
									<div>
										<i class="icon-adjust"></i>
									</div>
									<div>
										<span>客户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-ban-circle"></i>
									</div>
									<div>
										<span>项目管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-bar-chart"></i>
									</div>
									<div>
										<span>用户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beaker"></i>
									</div>
									<div>
										<span>团队管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beer"></i>
									</div>
									<div>
										<span>公司周报</span>
									</div>
								</a>
							</div>
						</div>
						
					</div>
					<div class="notice">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-bell-alt"></i> &nbsp;我的公告</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-arrow-right"></i></a>
							</div>
						</div>
						
						<ul>
							<li>
								<a>
									针对办公规范公告...
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
						</ul>
						
						
					</div>
				</div>
				
			</div>
			
			
		</div>
		
	</body>
</html>
