<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		
		<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/homework.css" />
		<script src="../../resources/js/jquery.min.js"></script>
		<script src="../../resources/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		
		<div class="nav">
			<a class="logo" href="#">
				<img src="../../resources/image/nav.png" />
			</a>
			
			<span>2019-06-17 星期一 15:02</span>
		</div>
		
		<div class="outer">
			&nbsp;
			<div class="inner">
				<div class="left">
					
					<div class="user">
						<div class="mid-part">
							<img src="../../resources/image/init.jpg" />
							<div class="character">
								<span>张玮伽</span>
								<br />
								
								<a><i class="icon-asterisk"></i></a> &nbsp;
								<a><i class="icon-signout"></i></a>
							</div>
							
							
						</div>
					</div>
					
					<div class="list">
						<ul>
							<li>
								<a>
									<i class="icon-file"></i>&nbsp;我的待办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-file-alt"></i>&nbsp;我的已办任务
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bell-alt"></i>&nbsp;提醒消息
								</a>
							</li>
							<li>
								<a>
									<i class="icon-bar-chart"></i>&nbsp;我的周报
								</a>
							</li>
							<li>
								<a>
									<i class="icon-calendar"></i>&nbsp;我的日志
								</a>
							</li>
							<li>
								<a>
									<i class="icon-qrcode"></i>&nbsp;我的项目
								</a>
							</li>
							<li>
								<a>
									<i class="icon-legal"></i>&nbsp;我的查封项目资产
								</a>
							</li>
			

						</ul>
					</div>
				</div>
				
				<div class="middle">
					<div class="search-part">
						<div class="left">
							<span><i class="icon-asterisk" style="color: red;"></i> &nbsp;个人信息</span>
						</div>
					</div>
					
					<div class="info-part">
					
						头像修改 ： <input type="text" name="image" placeholder="请选择上传路径"/> 
						<div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
					        <button class="btn btn-primary fileinput-button" type="button">浏览</button>
					        <input type="file" id="file" onchange="" style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
					    </div>
						<button class="btn btn-primary">上传</button>
				
						<br />
						<br />
						密码修改 ： <input type="password" placeholder="请输入新的密码" />
						<br />
						<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="password" placeholder="请再次输入新的密码" />
						<br />
						<br />
						手机号码 ： <input type="text" placeholder="请输入新的手机号码" />
						<br />
						<br />
						电子邮箱 ： <input type="text" placeholder="请输入新的邮箱账号" />
						
						
						<br />
						<button class="btn btn-danger" style="margin-top: 30px; margin-left: 260px; width: 100px;">提交</button>
					</div>
					
				</div>
				
				<div class="right">
					<div class="application">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-home"></i> &nbsp;我的应用</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-plus"></i></a>
							</div>
						</div>
						
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-adjust"></i>
									</div>
									<div>
										<span>客户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-ban-circle"></i>
									</div>
									<div>
										<span>项目管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-bar-chart"></i>
									</div>
									<div>
										<span>用户管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beaker"></i>
									</div>
									<div>
										<span>团队管理</span>
									</div>
								</a>
							</div>
						</div>
						<div class="app-part">
							<div class="block">
								<a>
									<div>
										<i class="icon-beer"></i>
									</div>
									<div>
										<span>公司周报</span>
									</div>
								</a>
							</div>
						</div>
						
					</div>
					<div class="notice">
						<div class="search-part">
							<div class="left-app">
								<span><i class="icon-bell-alt"></i> &nbsp;我的公告</span>
							</div>
							
							<div class="right-app">
								<a><i class="icon-arrow-right"></i></a>
							</div>
						</div>
						
						<ul>
							<li>
								<a>
									针对办公规范公告...
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对办公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
							<li>
								<a>
									针对公规范的公告
									<span>2019-06-16</span>
								</a>
							</li>
						</ul>
						
						
					</div>
				</div>
				
			</div>
			
			
		</div>
		
	</body>
</html>
